.CenteringTitle{
    text-align: center
}

.background {
background-size: cover;
background-position: center;
  background-image:url(imageOne.jpg);
}

div.a{

    text-align: center;
}

#aboutme

h5
{
color: black;
font-size: 36px;
font-family: 'Comic Sans MS';
text-align: center;
}
h6
{
color: rgb(255, 255, 255);
font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue';
font-size: 20px;
text-align: center;
}
h4
{
color: rgb(255, 255, 255);
font-size: 20px;
font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue';
text-align: center;
}

